{% extends 'base.html.twig' %}

{% block title %}list
{% endblock %}

{% block body %}
	<div class="container px-4 py-8 mx-auto">
		<h1 class="mb-6 text-3xl font-bold">la gestion de recherche emplois</h1>

		<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{% for jobOffer in jobOffers %}
				<div class="p-6 bg-white rounded-lg shadow-md">
					<h2 class="mb-2 text-xl font-semibold">{{ jobOffer.title }}</h2>
					<p class="mb-2 text-gray-600">{{ jobOffer.company }}</p>
					<p class="mb-2 text-gray-600">{{ jobOffer.location }}</p>
					<p class="mb-2 font-semibold text-green-600">{{ jobOffer.salary }}</p>
					<p class="mb-4 text-sm text-gray-500">Date limite :
						{{ jobOffer.applicationDate|date('d/m/Y') }}</p>
					<div class="flex items-center justify-between">
						<span class="text-sm font-medium {{ jobOffer.status == 'Accepté' ? 'text-green-600' : 'text-yellow-600' }}">
							{{ jobOffer.status }}
						</span>
					
						<a href="{{ path('app_job_offer_show', {'id': jobOffer.id}) }}" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600">
							Gérer
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
